@import url("default.css");

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.blue-text {
    color: blue;
}

.yellow-text {
    color: yellow;
}


/* anything related to the light theme */
html[data-theme="light"] {

    /* whatever you want to change */
    background: white;
}

/* anything related to the dark theme */
html[data-theme="dark"] {

    /* whatever you want to change */
    background: rgb(35, 35, 35);
    --pst-color-on-background: rgb(35, 35, 35);
    --pst-color-background: rgb(35, 35, 35);
}