@import url("default.css");

.myredtext {
    color: red;
}

.mygreentext {
    color: green;
}

.mybluetext {
    color: blue;
}

.myyellowtext {
  color: yellow;
}

.myorangetext {
  color: orange;
}