version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/requirements" # Location of package manifests
    insecure-external-code-execution: allow
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
      - "dependencies"
    ignore:
      - dependency-name: "vtk"
      - dependency-name: "ansys-mapdl-reader"
      - dependency-name: "grpcio"
