[flake8]
exclude = venv, __init__.py, build, doc/source/examples
# To be added after refactoring code to be compliant: E501 
select = W191, W291, W293, W391, E115, E117, E122, E124, E125, E225, E231, E301, E303, F401, F403
count = True
max-complexity = 10
max-line-length = 100
statistics = True
