# azure pipelines build pyansys

variables:
  package_name: pyansys

trigger:
  branches:
    include:
    - '*'
  tags:
    include:
    - '*'

jobs:
- job: ManyLinux
  strategy:
    matrix:
      Python35:
        python.version: '3.5'
        python.architecture: 'x64'
      Python36:
        python.version: '3.6'
        python.architecture: 'x64'
      Python37:
        python.version: '3.7'
        python.architecture: 'x64'
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
    - template: ./ci/checkout.yml
    - script: |
        docker pull quay.io/pypa/manylinux2010_x86_64
      displayName: Pull Docker Image
    - script: |
        set -ex
        docker run -e package_name=$(package_name) --rm -v `pwd`:/io quay.io/pypa/manylinux2010_x86_64 /io/.ci/build_wheels.sh $(python.version)
        cd ..
      displayName: Build wheels
    - template: .ci/azure-publish-dist.yml

- job: Windows
  strategy:
    matrix:
      Python35:
        python.version: '3.5'
        python.architecture: 'x64'
      Python36:
        python.version: '3.6'
        python.architecture: 'x64'
      Python37:
        python.version: '3.7'
        python.architecture: 'x64'
  pool:
    vmImage: 'vs2017-win2016'
  steps:
    - template: ./ci/checkout.yml
    - template: .ci/azure-setup.yml
    - template: .ci/azure-steps.yml
    - template: .ci/azure-publish-dist.yml

- job: macOS
  variables:
    python.architecture: 'x64'
  strategy:
    matrix:
      Python35:
        python.version: '3.5'
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
  pool:
    vmImage: 'macOS-10.14'
  steps:
    - checkout: ./ci/checkout.yml
    - script: |
        git clone --depth 1 https://github.com/akaszynski/pyansys
      condition: endsWith(variables['Build.SourceBranchName'], 'merge')
    - template: .ci/azure-setup.yml
    - template: .ci/azure-steps.yml
    - template: .ci/azure-publish-dist.yml