include pyansys/cython/*.h
include pyansys/examples/sector.cdb
include pyansys/examples/hex_db_150.db
include pyansys/examples/hex_db_194.db
include pyansys/cython/parsefull.c
include pyansys/cython/vtk_support.c
include pyansys/cython/reader.c