pypandoc>=1.5.0
matplotlib
imageio>=2.5.0
imageio-ffmpeg
Sphinx
sphinx-autobuild
sphinxcontrib-napoleon
sphinxcontrib-websupport
pytest-sphinx
sphinx-notfound-page>=0.3.0
sphinx-copybutton
sphinx-gallery>=0.8.1
sphinx-autodoc-typehints
pydata-sphinx-theme==0.5.0
pypandoc
Jinja2==2.11.2  # due to An error happened in rendering the page genindex. with v3
