numpy>=1.9
cython>=0.20
vtk
pexpect
scipy
matplotlib
Sphinx<=2.0.0
sphinx-autobuild>
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-websupport
doctr
sphinx-copybutton
sphinx-gallery
sphinx-notfound-page>=0.3.0
