sphinx==7.3.7
ansys-dpf-core==0.10.1
ansys-mapdl-reader==0.53.0
ansys-sphinx-theme==0.16.4
grpcio==1.64.0
imageio-ffmpeg==0.4.9
imageio==2.34.1
jupyter_sphinx==0.5.3
jupyterlab>=3.2.8
matplotlib==3.9.0
numpydoc==1.7.0
pandas==2.2.2
plotly==5.22.0
pyiges[full]==0.3.1
pypandoc==1.13
pytest-sphinx==0.6.3
pythreejs==2.4.2
pyvista[trame]==0.43.8
sphinx-autobuild==2024.4.16
sphinx-autodoc-typehints==1.25.2
sphinx-copybutton==0.5.2
sphinx-gallery==0.16.0
sphinxcontrib-websupport==1.2.7
sphinxemoji==0.3.1
sphinx-reredirects==0.1.3
vtk==9.3.0
sphinx-design==0.6.0