ansys-api-mapdl==0.5.1
ansys-api-platform-instancemanagement==1.0.0
ansys-mapdl-core==0.68.1
ansys-mapdl-reader==0.53.0
ansys-math-core==0.1.3
ansys-platform-instancemanagement==1.1.2
ansys-tools-path==0.4.1
appdirs==1.4.4
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.0
cycler==0.12.1
fonttools==4.49.0
geomdl==5.3.1
grpcio==1.62.0
idna==3.7.0
importlib-metadata==7.0.1
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pillow==10.3.0
platformdirs==4.2.0
pooch==1.8.1
protobuf==3.20.3
psutil==5.9.8
pyansys-tools-versioning==0.5.0
pygad==3.3.1
pyiges==0.3.1
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pyvista==0.43.3
requests==2.32.0
scipy==1.12.0
scooby==0.9.2
six==1.16.0
tabulate==0.9.0
tqdm==4.66.3
urllib3==2.2.1
vtk==9.3.0
zipp==3.17.0
