
ansys-dpf-core==0.13.6
ansys-mapdl-reader==0.55.0
ansys-sphinx-theme==1.4.4
ansys-tools-visualization-interface==0.9.1
autopep8==2.3.2
grpcio==1.70.0
imageio-ffmpeg==0.6.0
imageio==2.37.0
jupyter_sphinx==0.5.3
jupyter==1.1.1
jupyterlab>=3.2.8
matplotlib==3.10.1
nbformat==5.10.4
numpydoc==1.8.0
pandas==2.2.3
plotly==6.0.1
pyansys-tools-report==0.8.2
pyfakefs==5.8.0
pyiges[full]==0.3.1
pypandoc==1.15
pytest-cov==6.0.0
pytest-profiling==1.8.1
pytest-pyvista==0.1.9
pytest-random-order==1.1.1
pytest-reportlog==0.4.0
pytest-rerunfailures==15.0
pytest-sphinx==0.6.3
pytest-timeout==2.3.1
pytest==8.3.5
pythreejs==2.4.2
scipy==1.15.2
sphinx-autobuild==2024.10.3
sphinx-autodoc-typehints==3.1.0
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinx-gallery==0.19.0
sphinx-jinja==2.0.2
sphinx-notfound-page==1.1.0
sphinx==8.2.3
sphinxcontrib-websupport==2.0.0
sphinxemoji==0.3.1
vtk==9.5.2
