@import "https://cdn.jsdelivr.net/npm/docs-searchbar.js@latest/dist/cdn/docs-searchbar.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

div [data-ds-theme] .searchbox {
    margin: auto;
    display: block;
    width: 600px;
}

.dsb-suggestions {
    width: 580px;
}

.docs-searchbar-suggestion--category-header {
    background-color: var(--pst-color-border);
    border-radius: 7px;
    text-align: center;
}

.docs-searchbar-suggestion--subcategory-column-text {
    color: (var(--pst-color-text-base));
}

div [data-ds-theme] .searchbox input {
    height: 32px;
    border-radius: 8px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0px 0px 8px darkgrey;
}

.docs-searchbar-footer {
    display: none;
}

[class*="docs-searchbar-suggestion"] {
    text-decoration: none;
}

.docs-searchbar-suggestion--highlight {
    box-shadow: none !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meilisearch-autocomplete {
    text-align: center;
    color: var(--pst-color-text-base);
}

#search-bar-input{
    width: 550px;
    background-color: var(--pst-color-background);
    border: 1px solid var(--pst-color-border);
    border-radius: .25rem;
    color: var(--pst-color-text-base);
    font-size: var(--pst-font-size-icon);
    position: relative;
    padding-left: 3rem;
}

.meilisearch-autocomplete::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free"; /* The Font Awesome font family */
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--pst-color-border);
}

.index-select {
    color: var(--pst-color-text-base);
    background: var(--pst-color-background);
    height: 47px;
    border: 1px solid var(--pst-color-border);
    border-radius: .25rem;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0px 0px 20px var(--pst-color-border);
    padding: 0 10px 0px 10px;
    width: 250px;
    margin-left: 5px;
}

.meilisearch-autocomplete .dsb-dropdown-menu [class^=dsb-dataset-] {
    position: relative;
    border: 1px solid #d9d9d9;
    background: #fff;
    border-radius: 4px;
    overflow: auto;
    padding: 0 8px 8px;
    width: 805px;
}

.meilisearch-autocomplete .docs-searchbar-suggestion {
    width: 735px;
}

.meilisearch-autocomplete .docs-searchbar-suggestion--highlight {
    color: var(--pst-color-info);
    background: rgb(255 255 255 / 49%);
    padding: 0 .05em;
}

.meilisearch-autocomplete .docs-searchbar-suggestion--subcategory-column {
    width: 30%;
}
