ansys-dpf-core==0.10.1
ansys-tools-visualization-interface==0.8.3
autopep8==2.3.2
matplotlib==3.10.1
pandas==2.2.3
pyansys-tools-report==0.8.2
pyfakefs==5.8.0
pyiges[full]==0.3.1
pytest-cov==6.0.0
pytest-profiling==1.8.1
pytest-pyvista==0.1.9
pytest-random-order==1.1.1
pytest-reportlog==0.4.0
pytest-rerunfailures==15.0
pytest-timeout==2.3.1
pytest==8.3.5
scipy==1.15.2
vtk==9.3.1