ansys-dpf-core==0.10.1
ansys-tools-visualization-interface==0.8.3
autopep8==2.3.1
matplotlib==3.9.2
pandas==2.2.3
pyansys-tools-report==0.8.1
pyfakefs==5.7.1
pyiges[full]==0.3.1
pytest-cov==6.0.0
pytest-memprof<0.3.0
pytest-pyvista==0.1.9
pytest-random-order==1.1.1
pytest-rerunfailures==15.0
pytest==8.3.3
scipy==1.14.1
vtk==9.4.2
