Sphinx==5.1.1
ansys-mapdl-reader==0.52.0
ansys-sphinx-theme==0.5.2
grpcio==1.43.0
imageio-ffmpeg==0.4.7
imageio==2.22.0
jupyter_sphinx==0.4.0
jupyterlab>=3.2.8
matplotlib==3.6.0
numpydoc==1.4.0
pandas==1.5.0
plotly==5.10.0
pypandoc==1.8.1
pytest-sphinx==0.5.0
pythreejs==2.4.1
pyvista==0.36.1
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.19.2
sphinx-copybutton==0.5.0
sphinx-gallery==0.11.1
sphinx-notfound-page==0.8.3
sphinxcontrib-websupport==1.2.4
sphinxemoji==0.2.0
vtk==9.0.3
