Sphinx==5.1.1
ansys-mapdl-reader==0.51.15
ansys-sphinx-theme==0.4.2
grpcio==1.43.0
imageio-ffmpeg==0.4.7
imageio==2.21.0
jupyter_sphinx==0.4.0
jupyterlab>=3.2.8
matplotlib==3.5.2
numpydoc==1.4.0
pandas==1.4.3
plotly==5.9.0
pypandoc==1.8.1
pytest-sphinx==0.4.0
pythreejs==2.3.0
pyvista==0.36.1
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.19.1
sphinx-copybutton==0.5.0
sphinx-gallery==0.11.0
sphinx-notfound-page==0.8.3
sphinxcontrib-websupport==1.2.4
sphinxemoji==0.2.0
vtk==9.0.3
