name: Docker images - Cleanup
on:
  workflow_dispatch:
  schedule: # UTC at 0200
    - cron: "0 2 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write

jobs:
  cleanup:
    name: Cleaning unnecessary packages
    runs-on: ubuntu-latest
    env:
      PACKAGE_DELETION_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:

    - name: "Perform versions cleanup - except certain tags"
      uses: ansys/actions/hk-package-clean-untagged@v10.0.11
      with:
        package-name: 'mapdl'
        token: ${{ secrets.GITHUB_TOKEN }}
        allow-last-days: 5