name: Nightly Documentation Build

on:
  schedule:  # UTC at 0400
    - cron:  '0 4 * * *'
  workflow_dispatch:

jobs:
  nightly_docs_build:
    runs-on: ubuntu-20.04

    env:
      DISPLAY: ':99.0'
      MAPDL_IMAGE: 'docker.pkg.github.com/pyansys/pymapdl/mapdl:v21.2.1'
      PYMAPDL_PORT: 32771  # default won't work on azure
      PYMAPDL_START_INSTANCE: FALSE
      PYANSYS_OFF_SCREEN: True

    steps:
      - uses: actions/checkout@v2

      - name: Get Bot Application Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v1
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install OS packages
        run: |
          sudo apt update
          sudo apt install libgl1-mesa-glx xvfb

      - name: Install ansys-mapdl-core
        run: |
          pip install -r requirements_build.txt
          python setup.py bdist_wheel
          pip install dist/ansys*.whl
          xvfb-run python -c "from ansys.mapdl import core as pymapdl; print(pymapdl.Report())"

      - name: Pull, launch, and validate MAPDL service
        run: |
          echo $GH_PAT | docker login -u $GH_USERNAME --password-stdin docker.pkg.github.com
          docker pull $MAPDL_IMAGE
          docker run -e ANSYSLMD_LICENSE_FILE=1055@$LICENSE_SERVER --restart always --name mapdl -p $PYMAPDL_PORT:50052 $MAPDL_IMAGE -smp > log.txt &
          grep -q 'Server listening on' <(timeout 60 tail -f log.txt)
          python -c "from ansys.mapdl.core import launch_mapdl; print(launch_mapdl())"
        env:
          LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
          GH_USERNAME: ${{ secrets.GH_USERNAME }}
          GH_PAT: ${{ secrets.REPO_DOWNLOAD_PAT }}
  
      - name: Build Documentation
        run: |
          sudo apt install pandoc -qy
          pip install -r requirements_docs.txt
          xvfb-run make -C doc html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          repository-name: pyansys/pymapdl-dev-docs
          token: ${{ steps.get_workflow_token.outputs.token }}
          BRANCH: gh-pages
          FOLDER: doc/build/html
          CLEAN: true
