**/ACP
**/Addins
**/Additive
**/aisol/.clean_ansoft_env.sh
**/aisol/.workbench
**/aisol/AGP
**/aisol/AUTODYN
**/aisol/bin
**/aisol/BladeModeler
**/aisol/CommonFiles
**/aisol/DesignSpace
**/aisol/dll
**/aisol/EDServices
**/aisol/FEModeler
**/aisol/iceecad_gridcut
**/aisol/lib/linx64/ANSMWGDI
**/aisol/lib/linx64/CREDITS
**/aisol/lib/linx64/libacml_mp.so
**/aisol/lib/linx64/libacml_mv.so
**/aisol/lib/linx64/libaddress_sorting.so
**/aisol/lib/linx64/libans.autodyn.adbatch.so
**/aisol/lib/linx64/libans.autodyn.results_api.so
**/aisol/lib/linx64/libans.cadint.assemblycontainer241.so
**/aisol/lib/linx64/libans.cadint.assemblycontainerdrawing241.so
**/aisol/lib/linx64/libans.cadint.assemblycontainerdrawingold241.so
**/aisol/lib/linx64/libans.cadint.assemblycontainerserializer241.so
**/aisol/lib/linx64/libans.cadint.assemblycontainertesselation241.so
**/aisol/lib/linx64/libans.cadint.assemblycontainervirtualhelper241.so
**/aisol/lib/linx64/libans.cadint.autovt.so
**/aisol/lib/linx64/libans.cadint.brepcomponent241.so
**/aisol/lib/linx64/libans.cadint.brepcomponentmeshinghelper241.so
**/aisol/lib/linx64/libans.cadint.brepcomponenttesselation241.so
**/aisol/lib/linx64/libans.cadint.brepgeometry241.so
**/aisol/lib/linx64/libans.cadint.brepserializer241.so
**/aisol/lib/linx64/libans.cadint.virtualtopo.so
**/aisol/lib/linx64/libans.modelmanager.core.so
**/aisol/lib/linx64/libans.modelmanager.engine.pm.so
**/aisol/lib/linx64/libans.modelmanager.modeladapter.pm.so
**/aisol/lib/linx64/libans.modelmanager.referencemanager.so
**/aisol/lib/linx64/libans.modelmanager.rollmarkmanager.pm.so
**/aisol/lib/linx64/libans.simulation.mechanical.engine.geometry.assemblymodeling.so
**/aisol/lib/linx64/libans.simulation.mechanical.engine.geometry.graphics.so
**/aisol/lib/linx64/libans.simulation.mechanical.engine.geometry.queryengine.so
**/aisol/lib/linx64/libans.simulation.mechanical.engine.geometry.straightlinebody.so
**/aisol/lib/linx64/libAns.X17.APDL.so
**/aisol/lib/linx64/libAns.X17.SIMP.so
**/aisol/lib/linx64/libans_gil.so
**/aisol/lib/linx64/libAnsFile.so
**/aisol/lib/linx64/libAnsSupportedInterface.so
**/aisol/lib/linx64/libcadoe.so
**/aisol/lib/linx64/libcares.so
**/aisol/lib/linx64/libcares.so.2.4.1
**/aisol/lib/linx64/libcoinmetis.so.1
**/aisol/lib/linx64/libcoinmumps.so.1
**/aisol/lib/linx64/libComponentSystem.so
**/aisol/lib/linx64/libCUEUnits.so
**/aisol/lib/linx64/libFMACIS_XC.so
**/aisol/lib/linx64/libFMClientServer_WB.so
**/aisol/lib/linx64/libFMCommon_JT.so
**/aisol/lib/linx64/libFMCommon_WB.so
**/aisol/lib/linx64/libFMCommon_XC.so
**/aisol/lib/linx64/libFMCore_JT.so
**/aisol/lib/linx64/libFMCore_WB.so
**/aisol/lib/linx64/libFMCore_XC.so
**/aisol/lib/linx64/libFMDataConversion_JT.so
**/aisol/lib/linx64/libFMDataConversion_WB.so
**/aisol/lib/linx64/libFMDataConversion_XC.so
**/aisol/lib/linx64/libFMJTOpen_JT.so
**/aisol/lib/linx64/libFMMaestro_WB.so
**/aisol/lib/linx64/libFMModelKernel_JT.so
**/aisol/lib/linx64/libFMModelKernel_WB.so
**/aisol/lib/linx64/libFMModelKernel_XC.so
**/aisol/lib/linx64/libFMTGKernel_JT.so
**/aisol/lib/linx64/libFMTGKernel_WB.so
**/aisol/lib/linx64/libFMTGKernel_XC.so
**/aisol/lib/linx64/libFMWB_WB.so
**/aisol/lib/linx64/libgfortran.so
**/aisol/lib/linx64/libgfortran.so.5
**/aisol/lib/linx64/libgmp.so.10
**/aisol/lib/linx64/libgpr.so
**/aisol/lib/linx64/libgrpc.so
**/aisol/lib/linx64/libgrpcpp_channelz.so
**/aisol/lib/linx64/libhdf5-gcc820-1_10_5.so
**/aisol/lib/linx64/libhdf5-gcc820-1_10_5.so.103
**/aisol/lib/linx64/libhdf5-gcc820-1_10_5.so.103.1.0
**/aisol/lib/linx64/libhdf5_cpp-gcc820-1_10_5.so
**/aisol/lib/linx64/libhdf5_cpp-gcc820-1_10_5.so.103
**/aisol/lib/linx64/libhdf5_cpp-gcc820-1_10_5.so.103.1.0
**/aisol/lib/linx64/libhdf5_hl-gcc820-1_10_5.so
**/aisol/lib/linx64/libhdf5_hl-gcc820-1_10_5.so.100
**/aisol/lib/linx64/libhdf5_hl-gcc820-1_10_5.so.100.1.2
**/aisol/lib/linx64/libhdf5_hl_cpp-gcc820-1_10_5.so
**/aisol/lib/linx64/libhdf5_hl_cpp-gcc820-1_10_5.so.100
**/aisol/lib/linx64/libhdf5_hl_cpp-gcc820-1_10_5.so.100.1.3
**/aisol/lib/linx64/libhdf5_tools-gcc820-1_10_5.so
**/aisol/lib/linx64/libhdf5_tools-gcc820-1_10_5.so.100
**/aisol/lib/linx64/libhdf5_tools-gcc820-1_10_5.so.100.1.2
**/aisol/lib/linx64/libifcore.so.5
**/aisol/lib/linx64/libifport.so.5
**/aisol/lib/linx64/libimf.so
**/aisol/lib/linx64/libintlc.so.5
**/aisol/lib/linx64/libiomp5.so
**/aisol/lib/linx64/libipopt.so.1
**/aisol/lib/linx64/libirc.so
**/aisol/lib/linx64/libLinearAlgebraEigen.so
**/aisol/lib/linx64/libmainwinplugin.so
**/aisol/lib/linx64/libmappingkerneldll.so
**/aisol/lib/linx64/libmessagehandler.so
**/aisol/lib/linx64/libmono-2.0.so.1
**/aisol/lib/linx64/libmpi.so.1
**/aisol/lib/linx64/libpgbind.so
**/aisol/lib/linx64/libpgc.so
**/aisol/lib/linx64/libpgf90.so
**/aisol/lib/linx64/libpgf90_rpm1.so
**/aisol/lib/linx64/libpgf902.so
**/aisol/lib/linx64/libpgf90rtl.so
**/aisol/lib/linx64/libpgftnrtl.so
**/aisol/lib/linx64/libpgmp.so
**/aisol/lib/linx64/libPrimeMesh.so
**/aisol/lib/linx64/libprotobuf-lite.so
**/aisol/lib/linx64/libprotobuf-lite.so.3.10.1.0
**/aisol/lib/linx64/libprotobuf.so
**/aisol/lib/linx64/libprotoc.so
**/aisol/lib/linx64/libprotoc.so.3.10.1.0
**/aisol/lib/linx64/libpsassemblyrep.so
**/aisol/lib/linx64/libpsbodyshop.so
**/aisol/lib/linx64/libpsgeneric.so
**/aisol/lib/linx64/libpsiges.so
**/aisol/lib/linx64/libpsinterop.so
**/aisol/lib/linx64/libpskernel.so
**/aisol/lib/linx64/libpspropertiesbase.so
**/aisol/lib/linx64/libpspropertiesbrepimporter.so
**/aisol/lib/linx64/libpsstep.so
**/aisol/lib/linx64/libpsxcore.so
**/aisol/lib/linx64/libpsxiges.so
**/aisol/lib/linx64/libpsxlatorbase.so
**/aisol/lib/linx64/libpsxmil.so
**/aisol/lib/linx64/libpsxstep.so
**/aisol/lib/linx64/libQ3DRBFSolver.so
**/aisol/lib/linx64/libquadmath.so.0
**/aisol/lib/linx64/libStreamBased.so
**/aisol/lib/linx64/libStride.so
**/aisol/lib/linx64/libsvml.so
**/aisol/lib/linx64/libtbbmalloc.so.2
**/aisol/lib/linx64/libtg.so
**/aisol/lib/linx64/libzmq.so.4
**/aisol/lib/linx64/LICENSE
**/aisol/lib/linx64/LICENSE/**/*
**/aisol/MotionSolver
**/aisol/Samples
**/aisol/StartPage
**/aisol/WBAddins
**/aisol/WBMWRegistry
**/ans_uninstall241
**/ansys/bin/.change_ansysdir2022r2
**/ansys/bin/.change_ansysdir241
**/ansys/bin/about.admin
**/ansys/bin/ans_admin
**/ansys/bin/ans_admin241
**/ansys/bin/ansconnect
**/ansys/bin/ansconnect241
**/ansys/bin/anshelp
**/ansys/bin/anshelp241
**/ansys/bin/ansslurm
**/ansys/bin/ansslurm241
**/ansys/bin/anstclsh
**/ansys/bin/anstclsh241
**/ansys/bin/ansuge
**/ansys/bin/ansuge241
**/ansys/bin/answish
**/ansys/bin/answish241
**/ansys/bin/ansysts
**/ansys/bin/ansysts241
**/ansys/bin/bintst
**/ansys/bin/bintst241
**/ansys/bin/launcher
**/ansys/bin/launcher241
**/ansys/bin/launchertcl
**/ansys/bin/launchertcl241
**/ansys/bin/linx64/.ansys_installed
**/ansys/bin/linx64/lsdyna_dp.e
**/ansys/bin/linx64/lsdyna_dp_mpp.e
**/ansys/bin/linx64/lsdyna_sp.e
**/ansys/bin/linx64/lsdyna_sp_mpp.e
**/ansys/bin/linx64/lsl2a.e
**/ansys/bin/linx64/lsl2a_dp.e
**/ansys/bin/lsdyna
**/ansys/bin/lsdyna241
**/ansys/bin/lsl2a
**/ansys/bin/lsl2a241
**/ansys/bin/lsrun
**/ansys/bin/lsrun241
**/ansys/bin/nlhist
**/ansys/bin/nlhist241
**/ansys/bin/rdresu
**/ansys/bin/rdresu241
**/ansys/bin/rdsubs
**/ansys/bin/rdsubs241
**/ansys/bin/ResRdDemo
**/ansys/bin/ResRdDemo241
**/ansys/bin/ResWrDemo
**/ansys/bin/ResWrDemo241
**/ansys/bin/userprog
**/ansys/bin/userprog241
**/ansys/bin/wrtres
**/ansys/bin/wrtres241
**/ansys/bin/wrtsub
**/ansys/bin/wrtsub241
**/ansys/bin/xansadmin.tcl
**/ansys/data
**/ansys/docu/ansadmin.hlp
**/ansys/docu/LS-DYNA_Manual_Volume_I_R12.pdf
**/ansys/docu/LS-DYNA_Manual_Volume_II_R12_Ver2.pdf
**/ansys/docu/LS-DYNA_Manual_Volume_III_R12_Ver2.pdf
**/ansys/gui/en-us/images
**/ansys/gui/en-us/matlib
**/ansys/gui/en-us/resources
**/ansys/gui/en-us/toolbars
**/ansys/lib/analytics
**/ansys/lib/linx64/gpu
**/ansys/lib/linx64/libz.a
**/ansys/lib/scripts
**/ansys/syslib/boost/libboost_program_options.so.1.71.0
**/ansys/syslib/boost/libboost_thread.so
**/ansys/syslib/boost/libboost_thread.so.1
**/ansys/syslib/boost/libboost_thread.so.1.71.0
**/ansys/syslib/CPython
**/ansys/syslib/PyQt
**/ansys/syslib/ubuntu
**/builddate.txt
**/commonfiles/AAS/bin/linx64/AasAgentDotNetCore.dll
**/commonfiles/AAS/bin/linx64/AnsysSessionManager.idl
**/commonfiles/AAS/bin/linx64/APECSwizard.scm
**/commonfiles/AAS/bin/linx64/APECSwizardtool.scm
**/commonfiles/AAS/bin/linx64/CoFluentUnit.idl
**/commonfiles/AAS/bin/linx64/cowrapper.scm
**/commonfiles/AAS/bin/linx64/ExceptionHolderServer
**/commonfiles/AAS/bin/linx64/fluent_journal.jou
**/commonfiles/AAS/bin/linx64/fluent_journal_unsteady.jou
**/commonfiles/AAS/bin/linx64/ICoMapdlUnit.idl
**/commonfiles/AAS/bin/linx64/libApecsCorbaManager.so
**/commonfiles/AAS/bin/linx64/libCFXDllLoader.so
**/commonfiles/AAS/bin/linx64/libCOWrapper.so
**/commonfiles/AAS/bin/linx64/libFluentExceptionClient.so
**/commonfiles/AAS/bin/linx64/libSimulationAasWrapper.so
**/commonfiles/AAS/bin/linx64/libTAO_Codeset.so
**/commonfiles/AAS/bin/linx64/libTAO_Codeset.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_CosProperty.so
**/commonfiles/AAS/bin/linx64/libTAO_CosProperty.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_ImR_Activator.so
**/commonfiles/AAS/bin/linx64/libTAO_ImR_Activator.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_ImR_Activator_IDL.so
**/commonfiles/AAS/bin/linx64/libTAO_ImR_Activator_IDL.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_ImR_Client.so
**/commonfiles/AAS/bin/linx64/libTAO_ImR_Client.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_ImR_Locator.so
**/commonfiles/AAS/bin/linx64/libTAO_ImR_Locator.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_IORTable.so
**/commonfiles/AAS/bin/linx64/libTAO_IORTable.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_Messaging.so
**/commonfiles/AAS/bin/linx64/libTAO_Messaging.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_PI_Server.so
**/commonfiles/AAS/bin/linx64/libTAO_PI_Server.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_Svc_Utils.so
**/commonfiles/AAS/bin/linx64/libTAO_Svc_Utils.so.3.0.2
**/commonfiles/AAS/bin/linx64/libTAO_Valuetype.so
**/commonfiles/AAS/bin/linx64/libTAO_Valuetype.so.3.0.2
**/commonfiles/AAS/bin/linx64/MapdlaaS
**/commonfiles/AAS/bin/linx64/master_journal.jou
**/commonfiles/AAS/bin/linx64/Newtonsoft.Json.dll
**/commonfiles/AAS/bin/linx64/scale001.jpg
**/commonfiles/AAS/bin/linx64/SimulationAasDotNetStandard.dll
**/commonfiles/AAS/bin/linx64/steer.scm
**/commonfiles/branch.txt
**/commonfiles/CFX
**/commonfiles/configs
**/commonfiles/DebugControl
**/commonfiles/examples
**/commonfiles/fluids
**/commonfiles/Fonts
**/commonfiles/help
**/commonfiles/images
**/commonfiles/installer
**/commonfiles/IronPython
**/commonfiles/language/en-us/launcher
**/commonfiles/language/fr
**/commonfiles/language/ko
**/commonfiles/language/zh
**/commonfiles/launcher
**/commonfiles/launcherQt
**/commonfiles/MainWin
**/commonfiles/registry
**/commonfiles/Stride
**/commonfiles/SystemCoupling
**/commonfiles/Textures
**/commonfiles/tools
**/commonfiles/UnitsLibrary
**/dcs
**/Electronics
**/Framework
**/Images
**/install.id
**/installer
**/licensingclient/linx64/ansysls_client
**/licensingclient/linx64/ClientSettings
**/licensingclient/linx64/libFlxComm64.so.2020.12
**/licensingclient/linx64/libFlxCore64.so.2020.12
**/licensingclient/linx64/lmutil
**/ProductConfig.sh
**/RSM
**/SEC
**/SystemCoupling
**/Tools
**/tp/7zip
**/tp/angular-nvd3
**/tp/angular-ui-context-menu
**/tp/angular-ui-tree
**/tp/angularjs
**/tp/angularjs*
**/tp/angularui
**/tp/bootstrap
**/tp/CUEUnits
**/tp/d3
**/tp/ffmpeg
**/tp/hdf5/1_10_5/linx64/bin
**/tp/hdf5/1_10_5/linx64/include
**/tp/hdf5/1_10_5/linx64/lib/libhdf5.a
**/tp/hdf5/1_10_5/linx64/lib/libhdf5.settings
**/tp/hdf5/1_10_5/linx64/lib/libhdf5_cpp.a
**/tp/hdf5/1_10_5/linx64/lib/libhdf5_hl.a
**/tp/hdf5/1_10_5/linx64/lib/libhdf5_hl_cpp.a
**/tp/hdf5/1_10_5/linx64/lib/libhdf5_tools.a
**/tp/hdf5/1_10_5/linx64/lib/libhdf5_tools.so
**/tp/hdf5/1_10_5/linx64/lib/libhdf5_tools.so.100
**/tp/hdf5/1_10_5/linx64/lib/libhdf5_tools.so.100.1.2
**/tp/hdf5/1_10_5/linx64/lib/pkgconfig
**/tp/hdf5/1_10_5/linx64/share
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_avx.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_avx2.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_intelmpi_ilp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_intelmpi_ilp64.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_intelmpi_lp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_openmpi_ilp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_openmpi_ilp64.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_openmpi_lp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_sgimpt_ilp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_sgimpt_ilp64.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_sgimpt_lp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_sgimpt_lp64.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blas95_ilp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blas95_lp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_cdft_core.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_cdft_core.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_core.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_gf_ilp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_gf_ilp64.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_gf_lp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_gf_lp64.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_gnu_thread.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_intel_ilp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_intel_ilp64.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_intel_lp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_intel_thread.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_lapack95_ilp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_lapack95_lp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_mc.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_mc3.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_pgi_thread.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_pgi_thread.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_rt.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_scalapack_ilp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_scalapack_ilp64.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_scalapack_lp64.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_sequential.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_sequential.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_tbb_thread.a
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_tbb_thread.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_avx.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_avx2.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_cmpt.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_def.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_mc.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_mc2.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_mc3.so
**/tp/IntelMKL/2020.0.166/linx64/lib/intel64/locale
**/tp/IntelMKL/2021.3.0
**/tp/jquery
**/tp/ngInfiniteScroll
**/tp/nvd3
**/tp/openjre
**/tp/qt
**/tp/qt*
**/tp/signalr
**/tp/zlib

# working directories
.dockerignore
Dockerfile
install_licconfig.log
install.log